[Unit]
Description=Setup configs
Before=nginx.service shadowsocks-rust-server@main-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/before_start.sh
PassEnvironment=SS_PASS SS_METHOD V2_PATH

[Install]
WantedBy=multi-user.target
